@import '../../../styles.scss';

.email-list {
  border: 1px solid #dadada;
  border-radius: .325rem;
  height: 80vh;
  width: 100%;
  padding: .5rem;
}

.email-body {
  border: 1px solid #dadada;
  border-radius: .325rem;
  height: 80vh;
  width: 100%;
  padding: .5rem;
}
