@import '../../../styles.scss';

.active {
  background: $secondary-bg;
  border-color: $secondary-bg;
}

.list-group-item {
  border: none;
  border-radius: 0;

  &:hover {
    background: $primary-bg;
    border-color: $primary-bg;
    color: #fff;
  }
}
