<div class="modal fade" id="emailModal" role="dialog" (click)="onDismiss()">
  <div class="modal-dialog" (click)="$event.stopPropagation()">
    <div class="modal-content">
      <div class="modal-header">
        <ng-content select="[modalTitle]"></ng-content>
        <button type="button" class="close" (click)="onDismiss()">&times;</button>
      </div>
      <div class="modal-body">
        <ng-content></ng-content>
      </div>
      <div class="modal-footer default-footer">
        <button type="button" class="btn btn-default" (click)="onDismiss()">Close</button>
      </div>
      <div class="modal-footer">
        <ng-content select="[modalFooter]"></ng-content>
      </div>
    </div>
  </div>
</div>
