<div class="row mt-5">
  <div class="col-md-6 offset-md-3 col-sm-8 offset-sm-2">
    <div class="card">
      <div class="card-body px-lg-5 py-lg-5">
        <div class="text-center text-muted mb-4">
          <small>Create an account</small>
        </div>
        <form [formGroup]='signUpForm' (ngSubmit)='signUp()'>
          <app-input label="Username"
                     placeholder="username"
                     [control]="signUpForm.get('username')"
          ></app-input>

          <div class="mb-4" formGroupName='passwordGroup'>
            <div class="row mb-2">
              <input type="text" class="form-control" placeholder="password" formControlName='password'
                [ngClass]="{ 'is-invalid': signUpForm.get('passwordGroup').errors || (
                              (signUpForm.get('passwordGroup.password').touched ||
                               signUpForm.get('passwordGroup.password').dirty)
                               && !signUpForm.get('passwordGroup.password').valid
                              )
                           }"
              >
              <div class="invalid-feedback">
                <span *ngIf="signUpForm.get('passwordGroup.password').errors?.required">Password is required.</span>
                <span *ngIf="signUpForm.get('passwordGroup.password').errors?.minlength">Must have min length of 4 characters.</span>
              </div>
            </div>
            <div class="row mb-2">
              <input type="text" class="form-control" placeholder="verify password" formControlName='confirmPassword'
                [ngClass]="{ 'is-invalid': signUpForm.get('passwordGroup').errors || (
                              (signUpForm.get('passwordGroup.confirmPassword').touched ||
                               signUpForm.get('passwordGroup.confirmPassword').dirty)
                               && !signUpForm.get('passwordGroup.confirmPassword').valid
                              )
                           }"
              >
              <div class="invalid-feedback">
                <span *ngIf="signUpForm.get('passwordGroup.confirmPassword').errors?.required">Please confirm your password.</span>
                <span *ngIf="signUpForm.get('passwordGroup').errors?.match">Passwords don't match.</span>
              </div>
            </div>
            <div class="text-center mt-4">
              <button class="btn btn-success" type="submit" [disabled]="!signUpForm.valid">Create account</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>










<!-- <div class="row mt-5">
  <div class="col-md-4 offset-md-4">
    <div class="card">
      <div class="card-body px-lg-5 py-lg-5">
        <div class="text-center text-muted mb-4">
          <small>Create an Account</small>
        </div>
        <form novalidate [formGroup]="signUpForm" (ngSubmit)="signUp()">
          <div class="row mb-2">
            <input
              type="text"
              placeholder="username"
              class="form-control"
              fornControlName="username"
              [ngClass]="{
                'is-invalid':
                  (signUpForm.get('username').touched ||
                    signUpForm.get('username').dirty) &&
                  !signUpForm.get('username').valid
              }"
            />
            <div class="invalid-feedback">
              <span *ngIf="signUpForm.get('username').errors?.required"
                >Username is required.</span
              >
              <span *ngIf="signUpForm.get('username').errors?.minlength"
                >Username requires a min length of 4 characters.</span
              >
            </div>
          </div>
          <div formGroupName="passwordGroup">
            <div class="row mb-2">
              <input
                type="text"
                class="form-control"
                placeholder="password"
                formControlName="password"
                [ngClass]="{
                  'is-invalid':
                    signUpForm.get('emailGroup').errors ||
                    ((signUpForm.get('emailGroup.password').touched ||
                      signUpForm.get('emailGroup.password').dirty) &&
                      !signUpForm.get('emailGroup.password').valid)
                }"
              />
              <div class="invalid-feedback">
                <span
                  *ngIf="signUpForm.get('emailGroup.password').errors?.required"
                  >Password is required.</span
                >
                <span
                  *ngIf="
                    signUpForm.get('emailGroup.password').errors?.minlength
                  "
                  >Password requires a min of 4 characters.</span
                >
              </div>
            </div>
            <div class="row mb-4">
              <input
                type="text"
                class="form-control"
                placeholder="confirm password"
                formControlName="confirmPassword"
                [ngClass]="{
                  'is-invalid':
                    (signUpForm.get('emailGroup.password').touched ||
                      signUpForm.get('emailGroup.password').dirty) &&
                    !signUpForm.get('emailGroup.password').valid
                }"
              />
              <div class="invalid-feedback">
                <span
                  *ngIf="signUpForm.get('emailGroup.password').errors?.required"
                  >Password is required.</span
                >
                <span *ngIf="signUpForm.get('emailGroup').errors?.match"
                  >Passwords do not match.</span
                >
              </div>
            </div>
          </div>
          <div class="text-center">
            <button
              type="submit"
              class="btn btn-success"
              [disabled]="!signUpForm.valid"
            >
              Create Account
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div> -->
