<div class="row mt-5">
  <div class="col-md-6 offset-md-3 col-sm-8 offset-sm-2">
    <div class="card">
      <div class="card-body px-lg-5 py-lg-5">
        <div class="text-center text-muted mb-4">
          <small>Create an account</small>
        </div>
        <form [formGroup]='signUpForm' (ngSubmit)='onSignup()'>
          <app-input label="Username" inputType="inputType"
                     placeholder="username"
                     [control]="signUpForm.get('username')"
          ></app-input>
          <div class="mb-4" formGroupName='passwordGroup'>
            <div class="row mb-2">
              <input type="password" class="form-control" placeholder="password" formControlName='password'
                [ngClass]="{ 'is-invalid': signUpForm.get('passwordGroup').errors || (
                              (signUpForm.get('passwordGroup.password').touched ||
                               signUpForm.get('passwordGroup.password').dirty)
                               && !signUpForm.get('passwordGroup.password').valid
                              )
                           }"
              >
              <div class="invalid-feedback">
                <span *ngIf="signUpForm.get('passwordGroup.password').errors?.required">Password is required.</span>
                <span *ngIf="signUpForm.get('passwordGroup.password').errors?.minlength">Must have min length of 4 characters.</span>
              </div>
            </div>
            <div class="row mb-2">
              <input type="password" class="form-control" placeholder="verify password" formControlName='passwordConfirmation'
                [ngClass]="{ 'is-invalid': signUpForm.get('passwordGroup').errors || (
                              (signUpForm.get('passwordGroup.passwordConfirmation').touched ||
                               signUpForm.get('passwordGroup.passwordConfirmation').dirty)
                               && !signUpForm.get('passwordGroup.passwordConfirmation').valid
                              )
                           }"
              >
              <div class="invalid-feedback">
                <span *ngIf="signUpForm.get('passwordGroup.passwordConfirmation').errors?.required">Please confirm your password.</span>
                <span *ngIf="signUpForm.get('passwordGroup').errors?.match">Passwords don't match.</span>
              </div>
            </div>
          </div>
          <div class="text-center mt-3 form-errors" *ngIf="signUpForm?.errors">
            <span *ngIf="signUpForm.errors?.noConnection">Couldn't connect to the server.</span>
            <span *ngIf="signUpForm.errors?.unknownError">Couldn't signup, try again later.</span>
          </div>
          <div class="text-center mt-4">
            <button class="btn btn-success" type="submit" [disabled]="!signUpForm.valid">Create account</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
