@import '../../../styles.scss';

.mail-content-body {
  display: flex;
  background-color: #fff;
  position: absolute;
  top: 55px;
  left: 0;
  right: 0;
  bottom: 0;

  .email-placeholder {

    .email-icon {
      font-size: 5rem;
    }
  }
}
